@import url(./preset.css);

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
   outline:none;
}

:root {
  --c-primary: #7ec242;
  --c-primary-deep: #6da13f;
  --c-ok: #6da13f;
  --c-mis: ##dab40b;
  --c-warn: #C23A3A;
}
.dark {
   --c-primary: #7ec242;
  --c-primary-deep: #6da13f;
  --c-ok: #6da13f;
  --c-mis: ##dab40b;
  --c-warn: #C23A3A;
}

p {
  text-align: left;
}


ul {
  list-style: disc;
}

/* Transition */
.fade-in-enter-active {
  transition: all 1s ease;
}
.fade-out-leave-active {
  transition: all 0.5s ease;
}

.fade-out-leave-to,
.fade-in-enter-from {
  transform: translateY(10px);
  opacity: 0;
}
